@import'reset';

body{
    
    
    .invi{
        display: none;
    }
    
    ul{
        list-style: none;
    }
    
    a{
        text-decoration: none;
    }
    
    a:visited{
        color: black;
    }
    
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    

    & > header{
        height: 8vh;
        box-shadow: 3px 0 5px black;
        
        & > nav{
            color: black;
            display: grid;
            grid-template-rows: 1fr 1fr;
            
            & > ul{
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                
                & > li{
                    margin: 2rem;
                    
                    & > h1{
                        font-size: 2rem;
                    }
                    
                    & > a{
                        text-decoration: none;
                        padding: 8px 0;
                    }
                    
                    & > a:visited{
                        color: black;
                    }
                    
                    & > .active{
                        
                        text-decoration: underline brown;
                        text-decoration-thickness: 3px;
                    }
                }
            }
        }
    }
    
    & > main{
        
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        & > section:first-of-type{
            margin-left: 250px;
            padding-left: 50px;
            width: 55vw;
            
            & > article{
                text-align: center;
                margin-top: 20px;
                width: 40vw;
                border-radius: 10px;
                box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.3);
                
                
                & > header{
                    
                    & > a{
                        
                        & > figure{
                            
                            & > img{
                                width: 40vw;
                                height: 55vh;
                            }
                            
                            & > iframe{
                                width: 40vw; height: 55vh;
                            }
                        }
                    }
                    
                    & > p{
                        padding-top: 10px;
                    }
                }
                
                & > section{
                    
                    & > h3{
                        font-size: 0.8rem;
                        padding: 10px;
                        text-transform: uppercase;
                        text-decoration: underline brown;
                        text-decoration-thickness: 3px;
                    }
                    
                    & > a{
                        font-size: 1.6rem;
                        
                    }
                    
                    & > a:hover{
                        text-decoration: underline brown;
                        color: brown;
                    }
                    
                    & > section{
                        padding-top: 1.2rem;
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        
                        & > ul{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            
                            & > li{
                                padding: 0;
                                font-size: 0.8rem;
                                
                                & > span{
                                    color: brown;
                                }
                            }
                        }
                    }
                    
                    & > p{
                        padding-top: 1.8rem;
                        padding-bottom: 2rem;
                    }
                }
                
                & > footer{
                    padding-bottom: 10px;
                    
                    & > a{
                        text-decoration: underline brown;
                        text-decoration-thickness: 3px;
                    }
                }
                
            }
            
            & > article:nth-of-type(2){
                background: #f5f5f5;
            }
            
            & > section{
                text-align: center;
                margin-top: 20px;
                width: 40vw;
                height: 20vh;
                border-radius: 10px;
                box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.3);
            }
            
            
            & > section:nth-of-type(2){
                margin-bottom: 40px;
                height: 234px;
                box-shadow: none;
            }
            
            & > article:nth-of-type(4){
                
                & > header{
                    display: flex;
                    flex-direction: row;
                    
                    & > figure:nth-of-type(2){
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            
            & > fieldset{
                position: relative;
                margin-bottom: 7rem;
                
                & > button{
                    position: absolute;
                    margin-top: 4rem;
                    
                    color: white;
                    text-align: center; 
                    padding: 10px;
                    background: #e49c86;
                    border-radius: 7px;
                    transform: translateY(-50%) translateY(-50%);
                }
            }
        }
        
            
        & > section:last-of-type{
            width: 30vw;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            
            & > aside{
                
                display: block;
                
                & > section{
                    display: block;
                }
            }
        }
    }
    
    & > footer{
        margin-top: 20px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        
        & > section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
            & > section:first-of-type{
                margin-left: 150px;
                margin-right: 10px;
                text-align: left;
                
                & > h3{
                    font-weight: bold;
                    text-transform: uppercase;
                }
                
                & > p{
                    padding-top: 2rem;
                }
                
                & > ul{
                    padding-top: 2rem;
                    
                    & > li{
                        padding-top: 1rem;
                        
                        & > span{
                            color: #d69581;
                        }
                    }
                }
            }
            
            & > section:nth-of-type(2){
                
                
                & > h3{
                    font-weight: bold;
                    text-transform: uppercase;
                }
                
                & > header{
                    
                    & > a{
                        
                        & > figure{
                            width: 50px;
                            height: 50px;
                            
                            & > img{
                                
                            }
                        }
                    }
                }
            }
        }
    }
}